html, body { background-color: #000; color: #d8d8d8; font: 11pt sans-serif; }
button { border: 1px solid #585858; background-color: #181818; color: #d8d8d8; font: 8pt monospace; padding: 2px 5px; margin: 0 2px; }
button:hover { background-color: #282828; }
button:active { background-color: #383838; }

#live { display: flex; }
#live #audio { flex: 1; }
#live #metronome { display: inline-block; width: 1rem; height: 1rem; border-radius: 1rem; background-color: #585858; }
#live #draw { position: relative; }
#live #draw > canvas { position: absolute; }
#live #info div.boy, #live #info div.girl { width: 20px; height: 20px; display: inline-flex; border: 1px solid #888888; align-items: center; justify-content: center; }
#live #info div.girl { border-radius: 20px; }
#live #info td { text-align: center; }
#live #info input { width: 5rem; color: #d8d8d8; background-color: #181818; border: 1px solid #d8d8d8; text-align: center; }
#live #info #timer { display: flex; }
#live #info #timer #time { flex: 1; font-size: 16pt; }
#live #info #timer button { padding: 0 10px; }

#text { display: flex; }
#text #tags > span { border: 1px solid #585858; padding: 2px 5px; margin: 0 2px; cursor: pointer; user-select: none; display: inline-block; }
#text #tags > span.yes { background-color: #146114; }
#text #tags > span.no { background-color: #7f0707; }
#text #tags > span>span { font-size: 8pt; margin-right: 3px; color: #b8b8b8; }
#text #seqs > div { padding: 3px; cursor: pointer; }
#text #seqs > div:hover { background-color: #324363; }
#text > #seqlist { max-width: 25%; margin-left: 0px; padding-left: 0px; }
#text > div { max-width: 15%; padding: 0 10px; margin: 0 10px; }
#text > div:nth-child(2n) { background-color: #282828; }
#text p.btns { display: flex; justify-content: space-around; }
#text p.name { font-weight: bold; font-size: 10pt; text-align: center; }

.hkpop { font: 10pt monospace; position: fixed; background-color: rgba(255, 255, 100, 0.5); color: #181818; padding: 3px; font-weight: bold; }
